<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>DBUSER</param-name>
        <param-value>ale</param-value>
    </context-param>
    <context-param>
        <param-name>DBPWD</param-name>
        <param-value>ciao</param-value>
    </context-param>
    <context-param>
        <param-name>DBURL</param-name>
        <param-value>jdbc:derby://localhost:1527/Forum</param-value>
    </context-param>
    <listener>
        <description>listener</description>
        <listener-class>listeners.AppContextListener</listener-class>
    </listener>
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class> filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/Home</url-pattern>
        <url-pattern>/Logout</url-pattern>
        <url-pattern>/CreateGroup</url-pattern>
        <url-pattern>/CreateGroupC</url-pattern>
        <url-pattern>/AcceptBid</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>groupFilter</filter-name>
        <filter-class> filters.GroupFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>groupFilter</filter-name>
        <url-pattern>/SeeGroup</url-pattern>
        <url-pattern>/AddPost</url-pattern>
        <url-pattern>/AddPostC</url-pattern>
        <url-pattern>/usersFiles/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>adminFilter</filter-name>
        <filter-class> filters.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>adminFilter</filter-name>
        <url-pattern>/ChangeName</url-pattern>
        <url-pattern>/ChangeNameC</url-pattern>
        <url-pattern>/AddBids</url-pattern>
        <url-pattern>/AddBidsC</url-pattern>
        <url-pattern>/Report</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>First</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>First</servlet-name>
        <servlet-class>servlets.FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroup</servlet-name>
        <servlet-class>servlets.CreateGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroupC</servlet-name>
        <servlet-class>servlets.CreateGroupCServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptBid</servlet-name>
        <servlet-class>servlets.AcceptBidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeName</servlet-name>
        <servlet-class>servlets.ChangeNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeNameC</servlet-name>
        <servlet-class>servlets.ChangeNameCServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBids</servlet-name>
        <servlet-class>servlets.AddBidsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBidsC</servlet-name>
        <servlet-class>servlets.AddBidsCServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeGroup</servlet-name>
        <servlet-class>servlets.SeeGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostC</servlet-name>
        <servlet-class>servlets.AddPostCServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>servlets.ReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>First</servlet-name>
        <!-- <url-pattern>/Forum</url-pattern> -->
        <url-pattern>/First</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroup</servlet-name>
        <url-pattern>/CreateGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroupC</servlet-name>
        <url-pattern>/CreateGroupC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptBid</servlet-name>
        <url-pattern>/AcceptBid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeName</servlet-name>
        <url-pattern>/ChangeName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeNameC</servlet-name>
        <url-pattern>/ChangeNameC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBids</servlet-name>
        <url-pattern>/AddBids</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBidsC</servlet-name>
        <url-pattern>/AddBidsC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeGroup</servlet-name>
        <url-pattern>/SeeGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostC</servlet-name>
        <url-pattern>/AddPostC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
